<!DOCTYPE HTML>
{{ "<!--" | safeHTML}}
	Highlights by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
{{ "-->" | safeHTML }}
<html>
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>

	  <section class="main">
	    <div class="container">
	      <div class="content">
		<header class="major">
		  <h2>{{ .Title }}</h2>
		</header>
		{{ .Content }}
	      </div>
	      <center>
		<a href="/">
		  <i class="fa fa-home fa-3x"></i>
		</a>
	      </center>
	      <a href="#footer" class="goto-next scrolly">{{ with .Site.Params.skill_list.buttonText }}{{ . | markdownify }}{{ end }}</a>
	    </div>
	  </section>
	  
	  {{ if .Site.Params.footer.enable }}
	  {{"<!-- Footer -->" | safeHTML}}
	  <section id="footer">
	    {{ if .Site.Params.footer.social_list.enable }}
	    {{ partial "footer-social.html" . }}
	    {{ end }}
	  </section>
	  {{ end }}
	  
	  {{ partial "scripts.html" . }}
	</body>
</html>
