<div class="container">
  <span class="image fit primary">
    <img src="images/{{ with .Site.Params.footer.picture }}{{  . }}{{end}} " alt="" />
  </span>
  <div class="content">
    <header class="major">
      <h2>{{ with .Site.Params.footer.title }}{{ . | markdownify }}{{ end }}</h2>
    </header>
    <p>{{ .Site.Params.footer.contact.description | markdownify }}</p>

    {{ if .Site.Params.footer.contact.form.enable }}
    <form method="post" action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}">
      <div class="row uniform">
	<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="{{ with .Site.Params.footer.contact.form.name }}{{ . }}{{ end }}" /></div>
	<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="{{ with .Site.Params.footer.contact.form.email }}{{ . }}{{ end }}" /></div>
	<div class="12u$"><textarea name="message" id="message" placeholder="{{ with .Site.Params.footer.contact.form.message }}{{ . }}{{ end }}" rows="4"></textarea></div>
	<div class="12u$">
          <ul class="actions">
            <li><input type="submit" value="{{ with .Site.Params.footer.contact.form.buttonText }}{{ . }}{{ end }}" class="special" /></li>
          </ul>
	</div>
      </div>
    </form>
    {{ end }}
  </div>
</div>
