{{ "<!-- Scripts -->" | safeHTML }}
  <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/jquery.scrollex.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/jquery.scrolly.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/skel.min.js"></script>
  <script src="{{ .Site.BaseURL }}js/util.js"></script>
  {{ "<!-- [if lte IE 8 ]]> <script src=" | safeHTML }}"{{ .Site.BaseURL }}{{ "js/ie/respond.min.js\"></script><![endif] -->" | safeHTML }}
  <script src="{{ .Site.BaseURL }}js/main.js"></script>
  {{ template "_internal/google_analytics.html" . }}

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Queue(function() {
    // Fix <code> tags after MathJax finishes running. This is a
    // hack to overcome a shortcoming of Markdown. Discussion at
    // https://github.com/mojombo/jekyll/issues/199
    var all = MathJax.Hub.getAllJax(), i;
    for(i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
    }
});
</script>
