{{ "<!-- Services -->" | safeHTML }}
  <section id="skills" class="main special">
    <div class="container">
      <span class="image fit primary"><img src="images/{{ with .Site.Params.skill_list.picture }}{{ . }}{{ end }}" alt="" /></span>
      <div class="content">
        <header class="major">
          <h2>{{ with .Site.Params.skill_list.title}}{{ . | markdownify }}{{ end }}</h2>
        </header>
          <p>{{ with .Site.Params.skill_list.description}}{{ . | markdownify }}{{ end }}</p>
        <ul class="icons-grid">
          {{ range .Site.Params.skills }}
            <li>
              <span class="icon major {{ .icon }}"></span>
              <h3>
		{{ if isset . "link" }} <a href="{{ .link }}">{{ end }}
		  {{ .title }}
		  {{ if isset . "link" }} </a> {{ end }}
	      </h3>
            </li>
          {{ end }}
        </ul>
      </div>
      <a href="#infos" class="goto-next scrolly">{{ with .Site.Params.skill_list.buttonText }}{{ . | markdownify }}{{ end }}</a>
    </div>
  </section>
